body{
    color: black;
    background-color: rgb(116, 114, 114);
}


.padre{
    margin: 30px;
    background-color: rgb(225, 225, 225);
    width: 160px;
    height: 298px;
    border-radius: 10px;
}

.fondo{
    background-color: brown;
    height: 100px;
    width: 98%;
    border-radius: 10px;
    position: relative;
    top: 1px;
    left: 1px;
}

#textos{
    margin-top: 50px;
    text-align: center;
}


#corazon{
    height: 18px;
    position: relative;
    top: 10px;
    left: 128px;
}

#carrito:hover{
    width: 25px;
    height: auto;
}

p:hover{
    color: cadetblue;
}

#carrito{
    width: 18px;
    position: relative;
    bottom: 62px;
    left: 55px;
}

#corazon:hover{
    width: 19px;
    height: auto;
}

p{
    font-family: "Winky Sans", sans-serif;
}

#uno{
    font-size: 16px;
    font: bolder;
}

#dos{
    color: rgba(128, 128, 128, 0.397);
    font-size: 12px;
    position: relative;
    bottom: 10px;
}

#tres{
    color: rgb(234, 5, 5);
    font-size: 11px;
    font: bolder;
    font-style: italic;
    text-decoration: line-through;
    position: relative;
    bottom: 10px;
    left: -50px;
}

#cuatro{
    position: relative;
    bottom: 28px;
    left: -30px;
}

#avion{
    width: 230px;
    position: relative;
    top: 10px;
    left: -35px;
}

SEGUNDA TARJETA

.padre{
    margin: 30px;
    background-color: rgb(225, 225, 225);
    width: 160px;
    height: 298px;
    border-radius: 10px;
}

.fondo2{
    background-color: rgb(168, 161, 33);
    height: 100px;
    width: 98%;
    border-radius: 10px;
    position: relative;
    top: 1px;
    left: 1px;
}

#crucero{
    height: 90px;
    width: 220px;
    position: relative;
    top: 20px;
    left: -20px;
}




h1{
    color: rgba(11, 120, 11, 0.468);
    font-family: "Kaushan Script";
}

#primer_titulo{
    color: brown;
}

#primer_titulo .titulo h2 h2{
    color: blueviolet;
}

h2{
    color: blue;
    font-family: "Playwrite DK Loopet";
}

.titulo{
    color: greenyellow;
}

h2{
    color: aquamarine;
}

.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.playwrite-dk-loopet{
    font-family: "Playwrite DK Loopet", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.container{
    width: 50px;
    height: 50px;
    background-color: red;
}

.conteiner div{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 255);
}


.winky-sans{
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}